<%= render'customers/link' %>

<div class="container">
	<div class="row">
		<h1 class="col-xs-8 col-xs-offset-3" style="margin-top: 200px;">ご購入ありがとうございました！</h1>
	</div>

	<div class="row">
		<%= image_tag 'hitsuji.png', :class => "col-xs-3 col-xs-offset-1", :size => "200x200" %>
		<%= image_tag 'niwatori2.png', :class => "col-xs-3", :size => "200x200" %>
		<%= image_tag 'ushi.png', :class => "col-xs-3", :size => "200x200" %>
	</div>
</div>