<header>
	<div class="headline">
		<h1>ながのCAKE</h1>
	</div>
	<nav class="nav">
		<ul>
			<li>商品一覧</li>
			<li>会員一覧</li>
			<li>注文履歴一覧</li>
			<li>ジャンル管理</li>
		</ul>
	</nav>
</header>
<main>
	<div class="container">
		<h2 class="item-headline">商品一覧</h2>
		<table>
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>税抜価格</th>
				<th>ジャンル</th>
				<th>ステータス</th>
			</tr>
			<tr>
				<td>1</td>
				<td>ケーキ</td>
				<td>1,200</td>
				<td>ケーキ</td>
				<td>配送中</td>
			</tr>
		</table>

	</div>
</main>